<!DOCTYPE html>

<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width" name="viewport" />
    <title>Security guidance for web developers</title>
    <link rel="stylesheet" href="../Templates/slides.css" />
    <!-- To use the b6+ framework, include this: -->
    <script src="../Templates/b6plus.js"></script>
    <!-- To use the Shower framework, remove b6plus above and add these two: -->
    <!--   <script src="../Templates/shower.js"></script>         -->
    <!--   <script src="../Templates/iframe-fixup.js"></script>   -->
  </head>
  <body class="shower fade-in duration=15">
    <!-- What a screen reader should say on leaving slide mode,
       instead of the default ‘Stopped.’ -->
    <div role="region" aria-live="assertive">Leaving slide mode.</div>

    <section class="slide cover clear">
      <h1>Security guidance for web developers</h1>
      <address>Open Web Docs</address>
      <p>https://openwebdocs.org</p>
      <p>
        TPAC 2024<br />
        Anaheim CA, USA<br />
        hybrid meeting<br />
        23–27 SEPTEMBER 2024
      </p>
    </section>

    <section class="slide" id="lists">
      <h2>Some background</h2>
      <ul>
        <li>
          <a
            href="https://www.w3.org/2023/03/secure-the-web-forward/report.html"
            >Secure the Web Forward, 2023</a
          >: "documentation plays a major role in promoting security best
          practices and in helping web application developers understand
          security threats and mechanisms at their disposal"
        </li>
        <li>
          <a href="https://www.w3.org/community/swag/"
            >Security Web Application Guidelines Community Group (SWAG CG)</a
          >: "The mission of this Community Group is to increase the overall
          security of web application development ... by writing security best
          practices for web developers and providing a platform for stakeholder
          collaboration." -
        </li>
      </ul>
    </section>

    <section class="slide" id="lists">
      <h2>Current state of web security documentation</h2>
      <ul>
        <li>
          MDN
          <ul>
            <li>Generally comprehensive reference documentation</li>
            <li>Guidance documentation is missing</li>
          </ul>
        </li>
        <li>
          OWASP
          <ul>
            <li>Great guidance, but *lots* for a web developer to deal</li>
            with
          </ul>
        </li>
        Where are web developers struggling and where can documentation help?
      </ul>
    </section>

    <section class="slide" id="lists">
      <h2>Selected topics (1)</h2>
      <p>Security 101</p>
      <ul>
        <li>
          Fundamental things a developer can do, that have a big impact on the
          security of the site, such as:
          <ul>
            <li>Use HTTPS for everything</li>
            <li>Have a CSP</li>
            <li>Set cookie headers correctly...</li>
          </ul>
        </li>
        <li><i>Relatively</i> low-effort/high reward things</li>
        <li>
          Partly(?) addressed by Chris Mills' work on
          <a
            href="https://developer.mozilla.org/en-US/docs/Web/Security/Practical_implementation_guides"
            >Practical security implementation guides
          </a>
        </li>
      </ul>
    </section>

    <section class="slide" id="lists">
      <h2>Selected topics (2)</h2>
      <p>Security considerations for Web APIs</p>
      <ul>
        <li>For example, <code>fetch()</code></li>
        <li>
          Survey key Web APIs and ensure security considerations are documented
          on MDN
        </li>
      </ul>
    </section>

    <section class="slide" id="lists">
      <h2>Selected topics (3)</h2>

      <p>Frameworks/libraries</p>

      <ul>
        <li>Should MDN recommend specific frameworks/libraries?</li>
        <li>And/or document criteria to help developers choose them</li>
      </ul>
    </section>

    <section class="slide" id="lists">
      <h2>Selected topics (4)</h2>
      <p>
        How can we help CSP gain more adoption with Web Developers (<a
          href="https://github.com/w3c-cg/swag/issues/3"
          >SWAG issue</a
        >)
      </p>
      <ul>
        <li>OWASP/Google guidance around strict (nonce/hash based) CSP</li>
        <li>Documentation on CSP tooling</li>
      </ul>
    </section>

    <section class="slide" id="lists">
      <h2>Discussion</h2>
      <ul>
        <li>
          How can better documentation help web developers secure their sites?
        </li>
        <li>
          Feedback on the items presented here:
          <ul>
            <li>Security 101</li>
            <li>
              Security considerations in reference docs (like
              <code>fetch()</code>)
            </li>
            <li>Guidance for third-party library selection</li>
            <li>Updated CSP guidance, and CSP tooling documentation</li>
          </ul>
        </li>
        <li>...or other items not presented here?</li>
      </ul>
    </section>

    <footer class="long comment">
      <address>
        Template created 11 December 2023 by
        <a href="mailto:bert@w3.org">Bert Bos</a>. This file last modified
        $Date: 2024/08/28 13:13:24 $ by $Author: coralie $.
      </address>
    </footer>
  </body>
</html>
<!-- Local Variables: -->
<!-- sgml-basic-offset: 1 -->
<!-- End: -->
